<!DOCTYPE html>
<html>
    <head>
        <title>
            YelpCamp Webpage
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <body>
            <span>{{>header}}</span>
            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal">Add New Comment to {{campground.name}}</h1>
                <div class="form-container">
                    <form class="form-signin" action="/campgrounds/{{campground._id}}/comments" method="POST">
                        <div class="form-group">
                            <label for="inputtext" class="sr-only">Name</label>
                            <input type="text" id="inputtext" class="form-control" placeholder="comment" name="comment[text]" required autofocus>
                        </div>
                       <!-- <div class="form-group">
                            <label for="imageurl" class="sr-only">Image url</label>
                            <input type="text" id="imageurl" class="form-control" placeholder="author" name="comment[author]" required>
                        </div>-->
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                            <a href="/campgrounds">Go Back</a>
                    </form>
                </div>
            </div>
            
                
            {{>footer}}
        </body>
    </head>
</html>